body {
  padding: 10px;
  background-color: snow;
}

iframe {
  border: 1px grey solid;
}

.subject {
  text-align: center;
}

.grid-container {
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: auto auto auto auto;
  gap: 16px;
}